### Prédire la menace de déforestation

In [48]:
import pyforest

In [75]:
df=pd.read_csv('Data_Urb_Agr_For.csv')

In [76]:
df

            TU             SA           SP  Risque déforestation
0    20.819277   64183.416667    15.387236                     0
1    17.171104  209091.799107  1397.219152                     1
2    16.857654  154372.000000  1787.632439                     1
3    16.200018  273193.500000     0.186121                     0
4    15.116007  209091.799107  1397.219152                     1
..         ...            ...          ...                   ...
245  25.172683   64183.416667    15.387236                     0
246  12.810794  200865.975000  2787.583503                     1
247  26.772397   64183.416667    15.387236                     0
248  45.907677   80014.843750  1252.073934                     1
249  15.570000  121990.000000  3238.716997                     1

[250 rows x 4 columns]

In [77]:
### Independent and Dependent features
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [78]:
X.head()

          TU             SA           SP
0  20.819277   64183.416667    15.387236
1  17.171104  209091.799107  1397.219152
2  16.857654  154372.000000  1787.632439
3  16.200018  273193.500000     0.186121
4  15.116007  209091.799107  1397.219152

In [79]:
y.head(20)

0     0
1     1
2     1
3     0
4     1
5     1
6     0
7     1
8     1
9     0
10    1
11    1
12    1
13    1
14    0
15    1
16    0
17    1
18    0
19    1
Name: Risque déforestation, dtype: int64

In [80]:
### Train Test Split
from sklearn.model_selection import train_test_split

In [82]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [ ]:
### Implement Random Forest classifier
classifier=RandomForestClassifier(random_state=0, max_features='auto', n_estimators= 100, 
                            max_depth=1, criterion='gini')
classifier.fit(X_train,y_train)

In [70]:
## Prediction
y_pred=classifier.predict(X_test)

In [71]:
### Check Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)

In [72]:
score

0.8896103896103896

In [73]:
### Create a Pickle file using serialization 
import pickle
pickle_out = open("classifier.pkl","wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [74]:
classifier.predict([[68890,48,149560.550000, 222.725322]])

array([1])